.gallery-banner-container {
    padding-top: 40px;
    background-color: black;
}

.image-gallery {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
  
.image-gallery .column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.subheading {
    padding-bottom: 20px;
    color: white;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
}

.subheading-two {
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 2px;
    text-align: center;
    transition: color 0.1s;
}

@media screen and (min-width: 800px) {
    .image-gallery {
      flex-direction: row;
      margin-left: 0px;
      margin-right: 0px;
    }
}