.album-page-container {
    background-color: black;
    display: fixed;
}

.image-gallery {
    flex-direction: column;
    display: flex;
    background-color: black;
    gap: 20px;
}

.image-gallery-container {
    padding-top: 100px;
}

.column {
    flex: 1;
    object-fit: contain;
}

.title-text {
    color: white;
    font-weight: 300;
    font-size: 10vw;
    text-align: center;
}

@media screen and (min-width: 800px) {
    .image-gallery {
      flex-direction: row;
      padding-left: 30px;
      padding-right: 30px;
    }

    .title-text {
        font-size: 6vw;
    }

    .subheading {
        font-size: 3vw;
    }
}