.image-scroll-container {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    justify-content: center;
}

.title-text {
    font-family: "Playfair Display";
    text-align: center;
    font-weight: 500;
    margin-top: 20px;
    font-size: 100px;
    text-decoration: underline;
}

.image-scroll-container img {
    padding: 10px;
    width: 80vh;
}